 .page {
   margin: 20px;
 }

 .interactions {
   text-align: center;
 }

 .table {
   margin: 20px0;
 }

 .table-header {
   display: flex;
   line-height: 24px;
   font-size: 16px;
   padding: 010px;
   justify-content: space-between;
 }

 .table-empty {
   margin: 200px;
   text-align: center;
   font-size: 16px;
 }

 Basics in React77.table-row {
   display: flex;
   line-height: 24px;
   white-space: nowrap;
   margin: 10px0;
   padding: 10px;
   background: #ffffff;
   border: 1pxsolid#e3e3e3;
 }

 .table-header>span {
   overflow: hidden;
   text-overflow: ellipsis;
   padding: 05px;
 }

 .table-row>span {
   overflow: hidden;
   text-overflow: ellipsis;
   padding: 05px;
 }

 .button-inline {
   border-width: 0;
   background: transparent;
   color: inherit;
   text-align: inherit;
   -webkit-font-smoothing: inherit;
   padding: 0;
   font-size: inherit;
   cursor: pointer;
 }

 .button-active {
   border-radius: 0;
   border-bottom: 1pxsolid#38BB6C;
 }